{% extends "base.html" %}

{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/Media/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/Media/form.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styles %}

{% block content %}
<h1 class="h3 text-center mb-4">Ajout de médias</h1>
<div class="row">
    <div class="d-flex flex-column justify-content-end bg-light  border py-3">
        <form method="GET" class="w-100 container">
            <div class="row">
                <div class="d-flex flex-wrap justify-content-sm-around justify-content-lg-start col-lg-8">
                    <div class="col-lg-6 d-lg-flex">
                        <h5 class="mt-3">Filtre</h5>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="type" id="type-tv" value="tv">
                            <label class="btn btn-outline-primary m-2" for="type-tv">Séries</label>
    
                            <input type="radio" class="btn-check" name="type" value="movie" id="type-movie">
                            <label class="btn btn-outline-primary m-2" for="type-movie">Films</label>
                        </div>
                    </div>
    
                    <div class="col-lg-6 d-lg-flex">
                        <h5 class="mt-3">Critères</h5>
                        <div class="d-flex">
                            <input type="radio" class="btn-check" name="critere" id="titreAZ" value="False">
                            <label class="btn btn-outline-primary m-2 text-nowrap" for="titreAZ">Titre (A-Z)</label>
    
                            <input type="radio" class="btn-check" name="critere" value="True" id="titreZA">
                            <label class="btn btn-outline-primary m-2 text-nowrap" for="titreZA">Titre (Z-A)</label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-10 d-flex justify-content-center m-auto align-items-center mt-3">
                    {% csrf_token %}
                    <input class="form-control me-2" name="recherche" type="search" placeholder="Rechercher (titre)"
                        aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<form action="" class="d-flex flex-column align-items-end" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{request.path}}?{{ request.GET.urlencode }}">
    <button type="submit" class="btn btn-success my-3">Ajouter</button>
    <div class="d-flex flex-wrap justify-content-around text-center w-100">
        {% for media in medias %}
            {% include "Components/search-media-card.html" with media=media %}
        {% endfor %}
    </div>
</form>

{% endblock content %}