{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="d-flex flex-column flex-md-row">
        <img class="img-thumbnail" src="{{media.linkImage}}" alt="Photo de {{media.titre}}">
        <div class="ms-md-5">
            <h2 class="mb-5 d-flex align-items-center">
                {{media.titre}}
                {% if user.is_superuser %}
                    <button class="m-2 ms-4 btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#editMediaModal">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="m-2 btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#removeMediaModal">
                        <i class="far fa-trash-alt"></i>
                    </button>
                {% endif %}
            </h2>
            <h3>synopsis</h3>
            <p>{{media.synopsis}}</p>
            {% if media.genre %}
            <p><span class="fw-bold">Genre : </span>{{media.genre}}</p>
            {% endif %}
            {% if media.duree %}
            <p><span class="fw-bold">Durée : </span>{{media.duree}}</p>
            {% endif %}
            {% if media.date_sortie %}
            <p><span class="fw-bold">Date de sortie : </span>{{media.date_sortie}}</p>
            {% endif %}
            {% if media.age_reco %}
            <p><span class="fw-bold">Age recommandé : </span>{{media.age_reco}}</p>
            {% endif %}
            {% if media.linkBandeAnnonce %}
                <button type="button" class="btn btn-primary fs-6 mb-3" data-bs-toggle="modal" data-bs-target="#bande_annonce">
                    &blacktriangleright; Bande-Annonce
                </button>
            {% endif %}
        </div>
    </div>
</div>

<div class="row mt-4">
    {% if interpretation %}
    <h3 class="mt-4">Acteurs</h3>
    <div class="d-flex overflow-auto">
        {% for role, personne in interpretation.items %}
            {% include "Components/personne-card.html" with personne=personne role=role %}
        {% endfor %}
    </div>
{% endif %}
</div>

<div class="row mt-4">
    {% if travailleurs %}
    <h3 class="mt-4">Equipe technique</h3>
    <div class="d-flex overflow-auto">
        {% for role, personne in travailleurs.items %}
            {% include "Components/personne-card.html" with personne=personne role=role %}
        {% endfor %}
    </div>
{% endif %}
</div>

{% if media.linkBandeAnnonce %}
    <div class="modal fade" id="bande_annonce" tabindex="-1" aria-labelledby="bande_annonce_label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Bande Annonce
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <iframe id="inlineFrameExample"
                        title="Inline Frame Example"
                        width="800"
                        height="600"
                        allowfullscreen="true"
                        src="{{ media.linkBandeAnnonce }}">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
{% endif %}


{% if user.is_superuser %}
<div class="modal fade" id="editMediaModal" tabindex="-1" aria-labelledby="editMediaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMediaModalLabel">Edition de {{media.titre}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="form" id="form-edition" action="{{request.path}}" method="POST">
                    {% csrf_token %}
                    {{form | crispy}}
                    <input type="hidden" name="_method" value="PUT">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="form-edition" class="btn btn-primary">Editer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeMediaModal" tabindex="-1" aria-labelledby="removeMediaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeMediaModalLabel">Suppression de {{media.titre}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="form" id="form-suppression" action="{{request.path}}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="DELETE">
                    <p>Voulez-vous vraiment supprimer le média "{{media.titre}}" ?</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="form-suppression" class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
