{% extends "base.html" %}

{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/Media/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/Media/form.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styles %}

{% block scripts %}
{{block.super}}
<script src="{% static 'js/Media/card.js' %}"></script>
{% endblock scripts %}


{% block content %}

<div class="accordion" id="filtres">
    <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
        <div>
            <button class="btn btn-outline-dark" id="filtresHeaders" type="button" data-bs-toggle="collapse" data-bs-target="#filtresCollapse" aria-expanded="true" aria-controls="filtresCollapse">
                Filtres
            </button>
            {% if user.is_superuser %}
                <a href="{% url 'media_creation' %}" class="btn btn-success"><i class="fas fa-plus"></i> Nouveau</a>
            {% endif %}
        </div>

        {% include "Components/pagination.html" with page=page %}
    </div>
    
    <div id="filtresCollapse" class="accordion-collapse collapse" aria-labelledby="filtresHeaders" data-bs-parent="#filtres">
        <div class="accordion-body d-flex justify-content-end bg-light border">
            <form method="GET" class="w-100">
                <div class="d-flex flex-row justify-content-end">
                    <div class="d-flex align-items-center align-items-lg-end">
                        <input class="form-control me-2" name="recherche" type="search" placeholder="Rechercher (titre)" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">
                            <span>
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <h5 class="mt-3">Critères</h5>
                    <div class="d-flex flex-column flex-md-row flex-wrap">
                        <div class="d-flex justify-content-center justify-content-md-start col-md-4 mt-lg-0">
                            <input type="radio" class="btn-check" name="type" id="type-tv" value="tv">
                            <label class="btn btn-outline-primary mx-2 mb-0 mt-2" for="type-tv">Séries</label>
    
                            <input type="radio" class="btn-check" name="type" value="movie" id="type-movie">
                            <label class="btn btn-outline-primary mx-2 mb-0 mt-2" for="type-movie">Films</label>
                        </div>
                        <div class="d-flex flex-wrap flex-row">
                            <div class="d-flex justify-content-center flex-grow-1 flex-md-grow-0 mt-2 flex-wrap">
                                <input type="radio" class="btn-check" name="critere" id="titreAZ" value="titre">
                                <label class="btn btn-outline-primary mx-2 mb-0" for="titreAZ">Titre (A-Z)</label>
        
                                <input type="radio" class="btn-check" name="critere" value="-titre" id="titreZA">
                                <label class="btn btn-outline-primary mx-2 mb-0" for="titreZA">Titre (Z-A)</label>
                            </div>
                            <div class="d-flex justify-content-center flex-grow-1 flex-md-grow-0 mt-2 flex-wrap">
                                <input type="radio" class="btn-check" name="critere" value="-note" id="popularite+">
                                <label class="btn btn-outline-primary mx-2 mb-0" for="popularite+">Popularité (+)</label>
        
                                <input type="radio" class="btn-check" name="critere" value="note" id="popularite-">
                                <label class="btn btn-outline-primary mx-2 mb-0" for="popularite-">Popularité (-)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <h5 class="mt-3">Genre</h5>
                    <div class="d-flex flex-row flex-wrap justify-content-around">
                        {% for genre in genres %}
                            <input type="radio" class="btn-check" name="genre" id="btn-check-{{genre}}" value="{{genre}}">
                            <label class="btn btn-outline-secondary m-2" for="btn-check-{{genre}}">{{genre}}</label>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-success m-auto d-block mt-2">Appliquer les filtres</button>
            </form>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-around text-center">
    {% if page|length != 0 %}
        {% for media in page %}
            {% include "Components/media-card.html" with media=media %}
        {% endfor %}
    {% else %}
        <p class="fs-5 fw-bold">Aucun résultat trouvé !</p>
    {% endif %}
</div>

{% include "Components/pagination.html" with page=page %}

{% endblock content %}