{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="d-flex flex-column flex-md-row">

        <div class="col-md-4">
            <img class="img-thumbnail img-fluid" src="{{jeu.link_img_lg}}" alt="Photo de {{jeu.titre}}">
        </div>
        <div class="ms-md-5">
            <h2 class="mb-5 d-flex align-items-center">
                {{jeu.titre}}
                {% if user.is_superuser %}
                    <button class="m-2 ms-4 btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#editJVModal">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="m-2 btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#removeJVModal">
                        <i class="far fa-trash-alt"></i>
                    </button>
                {% endif %}
            </h2>
            <h3>Résumé</h3>
            <p>{{jeu.synopsis}}</p>
            {% if jeu.genres %}
            <p><span class="fw-bold">Genre(s) : </span>{{jeu.genres}}</p>
            {% endif %}
            {% if jeu.producteur %}
            <p><span class="fw-bold">Producteur/Dev : </span>{{jeu.producteur}}</p>
            {% endif %}
            {% if jeu.distributeur %}
            <p><span class="fw-bold">Distributeur : </span>{{jeu.distributeur}}</p>
            {% endif %}
            {% if jeu.date_de_sortie %}
            <p><span class="fw-bold">Date de sortie : </span>{{jeu.date_de_sortie}}</p>
            {% endif %}
            {% if jeu.plateformes %}
            <p><span class="fw-bold">Disponible sur : </span>{{jeu.plateformes}}</p>
            {% endif %}
            {% if jeu.link_vid %}
                <button type="button" class="btn btn-primary fs-6 mb-3" data-bs-toggle="modal" data-bs-target="#bande_annonce">
                    &blacktriangleright; Bande-Annonce
                </button>
            {% endif %}
        </div>
    </div>
    
</div>

{% if jeu.link_vid %}
    <div class="modal fade" id="bande_annonce" tabindex="-1" aria-labelledby="bande_annonce_label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Bande Annonce
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <iframe id="inlineFrameExample"
                        title="Inline Frame Example"
                        width="800"
                        height="600"
                        allowfullscreen="true"
                        src="{{ jeu.link_vid }}">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if user.is_superuser %}
<div class="modal fade" id="editJVModal" tabindex="-1" aria-labelledby="editJVModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editJVModalLabel">Edition de {{jeu.titre}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="form" id="form-edition" action="{{request.path}}" method="POST">
                    {% csrf_token %}
                    {{form | crispy}}
                    <input type="hidden" name="_method" value="PUT">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="form-edition" class="btn btn-primary">Editer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeJVModal" tabindex="-1" aria-labelledby="removeJVModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeJVModalLabel">Suppression de {{jeu.titre}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="form" id="form-suppression" action="{{request.path}}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="DELETE">
                    <p>Voulez-vous vraiment supprimer le jeu "{{jeu.titre}}" ?</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="form-suppression" class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}
