{% extends "base.html" %}

{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/Media/card.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/Media/form.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styles %}

{% block content %}
<h1 class="h3 text-center mb-4">Ajout de personnes</h1>
<div class="row">
    <div class="d-flex justify-content-end bg-light border py-3">
        <form method="GET" class="w-100 container">
            <div class="d-flex flex-column flex-wrap flex-md-row align-items-md-center">
                <div class="col-md-6 d-flex flex-column">
                    <h5 class="col-6 m-auto mb-4 text-center">Critères</h5>
                    <div class="d-flex justify-content-center">
                        <input type="radio" class="btn-check" name="critere" id="nomAZ" value="False">
                        <label class="btn btn-outline-primary mx-2 " for="nomAZ">Nom (A-Z)</label>
    
                        <input type="radio" class="btn-check" name="critere" value="True" id="nomZA">
                        <label class="btn btn-outline-primary mx-2 " for="nomZA">Nom (Z-A)</label>
                    </div>
                </div>

                <div class="col-md-6 mt-4 mt-md-0 d-flex justify-content-center align-self-md-end">
                    {% csrf_token %}
                    <input class="form-control me-2" name="recherche" type="search" placeholder="Rechercher (nom)"
                        aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">
                        <span>
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<form action="" class="d-flex flex-column align-items-end" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{request.path}}?{{ request.GET.urlencode }}">
    <button type="submit" class="btn btn-success my-3">Ajouter</button>
    <div class="d-flex flex-wrap justify-content-around text-center w-100">
        {% for personne in personnes %}
            {% include "Components/search-personne-card.html" with personne=personne %}
        {% endfor %}
    </div>
</form>

{% endblock content %}