{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/Media/card.css' %}">
{% endblock styles %}

{% block scripts %}
{{block.super}}
<script src="{% static 'js/Media/card.js' %}"></script>
{% endblock scripts %}

{% block content %}
<div class="row">
    <div class="d-flex flex-column flex-md-row">
        {% if personne.image %}
            <img class="img-thumbnail" src="{{personne.image}}" alt="Photo de {{personne.nom_prenom}}">
        {% else %}
        <div class="col-md-3">
            <img src="https://eu.ui-avatars.com/api/?name={{personne.nom_prenom}}" class="card-img-top img-thumbnail" alt="Photo de {{personne.nom_prenom}}">
        </div>
        {% endif %}
        <div class="ms-md-5">
            <h2 class="mb-5 d-flex align-items-center">
                {{personne.nom_prenom}}
                {% if user.is_superuser %}
                    <button class="m-2 ms-4 btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#editPersonneModal">
                        <i class="far fa-edit"></i>
                    </button>
                    <button class="m-2 btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#removePersonneModal">
                        <i class="far fa-trash-alt"></i>
                    </button>
                {% endif %}       
            </h2>

            {% if personne.biographie and personne.biographie != "-" %}
            <h3>Biographie</h3>
            <p>{{personne.biographie}}</p>
            {% endif %}

            {% if personne.genre and personne.genre != "-" %}
            <p><span class="fw-bold">Genre : </span>{{personne.genre}}</p>
            {% endif %}

            {% if personne.apparitions_connues and personne.apparitions_connues != "-" %}
            <p><span class="fw-bold">Apparitions connues : </span>{{personne.apparitions_connues}}</p>
            {% endif %}

            {% if personne.date_naissance and personne.date_naissance != "-" %}
            <p><span class="fw-bold">Date de naissance : </span>{{personne.date_naissance}}</p>
            {% endif %}

            {% if personne.lieu_naissance and personne.lieu_naissance != "-" %}
            <p><span class="fw-bold">Lieu de naissance : </span>{{personne.lieu_naissance}}</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="row mt-4">
    <h3>Connu pour : </h3>
    <div class="d-flex overflow-auto">
        {% for participation in participations %}
            {% include "Components/media-card.html" with media=participation %}
        {% endfor %}
    </div>
</div>

{% if user.is_superuser %}
<div class="modal fade" id="editPersonneModal" tabindex="-1" aria-labelledby="editPersonneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPersonneModalLabel">Edition de {{personne.nom_prenom}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="form" id="form-edition" action="{{request.path}}" method="POST">
                    {% csrf_token %}
                    {{form | crispy}}
                    <input type="hidden" name="_method" value="PUT">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="form-edition" class="btn btn-primary">Editer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removePersonneModal" tabindex="-1" aria-labelledby="removePersonneModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removePersonneModalLabel">Suppression de {{personne.nom_prenom}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="form" id="form-suppression" action="{{request.path}}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="DELETE">
                    <p>Voulez-vous vraiment supprimer la personne "{{personne.nom_prenom}}" ?</p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="form-suppression" class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}