{% extends "base.html" %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock styles %}

{% block content %}

<div class="accordion" id="filtres">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div>
            <button class="btn btn-outline-dark" id="filtresHeaders" type="button" data-bs-toggle="collapse" data-bs-target="#filtresCollapse" aria-expanded="true" aria-controls="filtresCollapse">
                Filtres
            </button>
            {% if user.is_superuser %}
                <a href="{% url 'personne_creation' %}" class="btn btn-success"><i class="fas fa-plus"></i> Nouveau</a>
            {% endif %}
        </div>

        {% include "Components/pagination.html" with page=page %}
    </div>
    
    <div id="filtresCollapse" class="accordion-collapse collapse" aria-labelledby="filtresHeaders" data-bs-parent="#filtres">
        <div class="accordion-body d-flex justify-content-end bg-light border">
            <form method="GET" class="w-100">
                <div class="d-flex flex-column-reverse flex-md-row align-items-end">
                    <div class="d-flex flex-column col-12 col-md-7">
                        <h5 class="mt-3">Critères</h5>
                        <div class="d-flex flex-wrap justify-content-center">
                            <div>
                                <input type="radio" class="btn-check" name="critere" id="nomprenomAZ" value="nom_prenom" checked>
                                <label class="btn btn-outline-primary m-2 mb-0" for="nomprenomAZ">Prénom (A-Z)</label>
                            </div>
                            <div>
                                <input type="radio" class="btn-check" name="critere" value="-nom_prenom" id="nomprenomZA">
                                <label class="btn btn-outline-primary m-2 mb-0" for="nomprenomZA">Prénom (Z-A)</label>
                            </div>

                            <button type="submit" class="btn btn-success d-block m-2 mb-0">Appliquer le filtre</button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input class="form-control me-2" name="recherche" type="search" placeholder="Rechercher (Nom Prénom)" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">
                                <span>
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-around">
    {% if page|length != 0 %}
        {% for personne in page %}
            {% include "Components/personne-card.html" with personne=personne %}
        {% endfor %}
    {% else %}
        <p class="fs-5 fw-bold">Aucun résultat trouvé !</p>
    {% endif %}
</div>

{% include "Components/pagination.html" with page=page %}

{% endblock content %}