{% extends "base.html" %}

{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/Media/card.css' %}">
{% endblock styles %}

{% block scripts %}
{{block.super}}
<script src="{% static 'js/Media/card.js' %}"></script>
{% endblock scripts %}

{% block content %}

<div class="flex-row border-bottom pb-4">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h3>Films Populaires</h3>
        <a class="btn btn-primary py-1" href="{% url 'media_liste' %}">Voir</a>
    </div>
    <div class="row mt-2">
        {% for film in films_populaires %}
            {% include "Components/media-card.html" with media=film %}
        {% endfor %}
    </div>
</div>

<div class="flex-row border-bottom pb-4 mt-3">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h3>Séries Populaires</h3>
        <a class="btn btn-primary py-1" href="{% url 'media_liste' %}">Voir</a>
    </div>
    <div class="row mt-2">
        {% for serie in series_populaires %}
            {% include "Components/media-card.html" with media=serie %}
        {% endfor %}
    </div>
</div>

<div class="flex-row border-bottom pb-4 mt-3">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h3>Jeux Populaires</h3>
        <a class="btn btn-primary py-1" href="{% url 'jv_liste' %}">Voir</a>
    </div>
    <div class="row mt-2">
        {% for jeu in jeux_populaires %}
            {% include "Components/jeu-card.html" with jeu=jeu %}
        {% endfor %}
    </div>
</div>


{% endblock content %}