<!DOCTYPE html>
<html lang="en">
<head>
    {% block metas %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock metas %}
    <title>
        {% block title %}Mediatheque{% endblock title %}
    </title>

    {% block styles %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% endblock styles %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'accueil' %}">Mediatheque</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'media_liste' %}">Films & Series</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'personne_liste' %}">Acteurs & Co</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'jv_liste' %}">Jeux Vidéos</a>
                    </li>
                </ul>
                {{user}}
                {% if not user.is_authenticated %}
                <div class="d-flex align-items-center">
                    <button class="mb-0 btn btn-outline-info border-0" href="#" data-bs-toggle="modal" data-bs-target="#connexionModal">
                        <i class="fas fa-user p-2"></i>
                    </button>
                </div>
                {% else %}
                    <div class="d-flex align-items-center">
                        <p class="text-white me-1 fw-bold mb-0">{{user}}</p>
                        <a class="btn btn-outline-info border-0" href="{% url 'logout' %}?next={{request.path}}">
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block messages %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger alert-dismissible msg fade show" role="alert">
                {% else %}
                    <div class="alert alert-{{message.tags}} alert-dismissible msg fade show" role="alert">
                {% endif %}
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
            {% endfor %}
        {% endif %}
    {% endblock %}

    <div class="container mt-3">
        {% block content %}
        {% endblock content %}
    </div>

    <div class="modal fade" id="connexionModal" tabindex="-1" aria-labelledby="connexionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="connexionModalLabel">Connexion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="form" id="form-connexion" action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <label class="form-label" for="username">Pseudonyme</label>
                        <input type="text" class="form-control" name="username" id="username">

                        <label class="form-label" for="password">Mot de passe</label>
                        <input type="password" class="form-control" name="password" id="password">

                        <input type="hidden" name="next" value="{{ request.path }}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="form-connexion" class="btn btn-primary">Connexion</button>
                </div>
            </div>
        </div>
    </div>
      
    {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% endblock scripts %}
</body>
</html>