<div class="col-12 col-sm-10 col-md-6 col-lg-4 mb-2">
    <div class="card m-1 h-100">
        <div class="row m-1 h-100">
            <div class="col-6 p-0  ">
                <div class="rating">{{jeu.note}}%</div>
                <div class="card-body h-100 align-items-center d-flex">
                    <img src="{{jeu.link_img_sm}}" class="img-fluid card-img-top" alt="Photo de {{jeu.titre}}">
                </div>
            </div>
            <div class="col-6 p-0">
                <div class="card-footer d-flex align-items-center h-100 text-center">
                    <h5 class="card-title h6 w-100">{{jeu.titre}}</h5>
                    <a href="{% url 'jv_details' id=jeu.pk %}" class="stretched-link"></a>
                </div>
            </div>  
        </div>
    </div>
</div>