<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
    <div class="card m-1 h-100">
        <div class="card-body p-0">
            <div class="rating">{{media.note}}%</div>
            <img src="{{media.linkImage}}" class="card-img-top" alt="affiche de {{media.titre}}">
        </div>
        <div class="card-footer d-flex align-items-center h-100 text-center">
            <h5 class="card-title h6 w-100">{{media.titre}}</h5>
            <a href="{% url 'media_details' id=media.pk %}" class="stretched-link"></a>
        </div>
    </div>
</div>