{% if page.has_other_pages %}
<div class="flex-row my-2">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end mr-4 mb-0">
            {% if page.has_previous %}
                <li class="page-item d-sm-none"><a class="page-link" href="?page=1"><i class="fas fa-angle-double-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}"><i class="fas fa-chevron-left"></i></a></li>
            {% endif %}

            {% if page.number|add:'-1' > 1 %}
                <li class="page-item d-none d-sm-block"><a class="page-link" href="?page=1">1</a></li>
                <li class="page-item d-none d-sm-block"><a class="page-link" href="?page={{ page.number|add:'-2' }}">&hellip;</a></li>
            {% endif %}
    
            {% for i in page.paginator.page_range %}
                {% if page.number == i %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ i }}</span>
                    </li>
                {% elif i > page.number|add:'-2' and i < page.number|add:'2' %}
                    <li class="page-item d-none d-sm-block"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page.paginator.num_pages > page.number|add:'2' %}
                <li class="page-item d-none d-sm-block"><a class="page-link" href="?page={{ page.number|add:'3' }}">&hellip;</a></li>
                <li class="page-item d-none d-sm-block"><a class="page-link" href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a></li>
            {% endif %}
    
            {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
                    <li class="page-item d-sm-none"><a class="page-link" href="?page={{ page.paginator.num_pages }}"><i class="fas fa-angle-double-right"></i></a></li>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}