<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
    <div class="card m-1 h-100">
        <div class="card-body p-0">
            {% if personne.image %}
            <img src="{{personne.image}}" class="card-img-top" alt="Photo de {{personne.nom_prenom}}">
            {% else %}
            <img src="https://eu.ui-avatars.com/api/?name={{personne.nom_prenom}}&rounded=true&size=100" class="card-img-top my-5" alt="Photo de {{personne.nom_prenom}}">
            {% endif %}
        </div>
        <div class="card-footer d-flex flex-column align-items-center h-100 text-center">
            <h5 class="card-title h6 w-100">{{personne.nom_prenom}}</h5>
            {% if role %}
                <p class="small mb-0">{{role}}</p>
            {% endif %}
            <a href="{% url 'personne_details' id=personne.pk %}" class="stretched-link"></a>
        </div>
    </div>
</div>