<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
    <div class="card m-1 h-100">
        <div class="card-body p-0">
            {% if media.linkImage %}
                <img src="{{media.linkImage}}" class="card-img-top" alt="affiche de {{media.titre}}">
            {% else %}
                <img src="https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg" alt="affiche de {{media.titre}}"  class="card-img-top my-5">
            {% endif %}
        </div>
        
        <div class="card-footer d-flex flex-column align-items-center h-100 text-center ">
            <h5 class="card-title h6 w-100 flex-grow-1">{{media.titre}}</h5>
            <p>{{ media.date_sortie}}</p>
            {% if media.saved%}
                <a href="{% url 'media_details' id=media.id %}" class="stretched-link"></a>
                 <input type="submit" class ="btn disabled btn-outline-success" value="Ajouté">
            {% else %}
                <input type="checkbox" class="btn-check" name="ajouter" id="{{media.id}}" value="{{media.id}}">
                <label class="btn btn-outline-primary mx-2 mb-0" for="{{media.id}}">Ajouter</label>
                <input type="hidden" name="type_ajout_{{media.id}}" value="{{media.type}}">
            {% endif %}
        </div>
    </div>
</div>