<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
    <div class="card m-1 h-100">
        <div class="card-body p-0">
            {% if personne.linkImage %}
                <img src="{{personne.linkImage}}" class="card-img-top" alt="Photo de {{personne.nom}}">
            {% else %}
                <img src="https://eu.ui-avatars.com/api/?name={{personne.nom}}&rounded=true&size=100" class="card-img-top my-5" alt="Photo de {{personne.nom}}">
            {% endif %}
        </div>
        <div class="card-footer d-flex flex-column salign-items-center h-100 text-center">
            <h5 class="card-title h6 w-100 flex-grow-1">{{personne.nom}}</h5>
            
            {% if personne.saved %}
                <a href="{% url 'personne_details' id=personne.id %}" class="stretched-link"></a>
                <input type="submit" class ="btn disabled btn-outline-success" value="Ajoutée">
            {% else %}
                <input type="checkbox" class="btn-check" name="ajouter" id="{{personne.id}}" value="{{personne.id}}">
                <label class="btn btn-outline-primary mx-2 mb-0" for="{{personne.id}}">Ajouter</label>
            {% endif %}
        </div>
    </div>
</div>