<div class="col-12 col-sm-10 col-md-6 col-lg-4 mb-2">
    <div class="card m-1 h-100">
        <div class="row m-1 h-100">
            <div class="col-6 p-0  ">
                <div class="card-body h-100 align-items-center d-flex">
                    <img src="{{jeu.img}}" class="img-fluid card-img-top" alt="Photo de {{jeu.titre}}">
                </div>
            </div>
            <div class="col-6 p-0">
                <div class="card-footer d-flex flex-column justify-content-center h-100 text-center">
                    <h5 class="card-title h6 w-100">{{jeu.titre}}</h5>
                    {% if jeu.saved %}
                        <a href="{% url 'jv_details' id=jeu.id %}" class="stretched-link"></a> 
                        <input type="submit" class ="btn disabled btn-outline-success" value="Ajouté">
                    {% else %}
                        <input type="checkbox" class="btn-check" name="ajouter" id="{{jeu.id}}" value="{{jeu.id}}">
                        <label class="btn btn-outline-primary mx-2 mb-0" for="{{jeu.id}}">Ajouter</label>
                        <input type="hidden" name="jeu_lien_{{jeu.id}}" value="{{jeu.lien}}">
                    {% endif %}
                </div>
            </div>  
        </div>
    </div>
</div>